<div class="d-flex flex-column flex-nowrap justify-content-center" style="background-image: url('/assets/cover.jpg'); height: 90vh;">
  <div class="container">
    <%= form_with scope: :search, url: listing_index_path, method: :get, local: true do |form| %>
      <div class="row">
        <div class="col-lg-6">
          <%= form.search_field :country, class: "form-control mr-2", placeholder: "Country Name" %>
        </div>
        <%= form.submit "Search", class: "btn btn-outline-danger" %>
      </div>
    <% end %>
  </div>
</div>